@model OrangeBricks.Web.Controllers.Viewings.ViewModels.ViewingsViewModel

@{
    ViewBag.Title = "Requests for Viewings of your Property";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Here you can see the viewings that have been requested of your property.</p>

<p><strong>Property type:</strong> @Model.PropertyType</p>
<p><strong>Number of bedrooms:</strong> @Model.NumberOfBedrooms</p>
<p><strong>Street name:</strong> @Model.StreetName</p>

@if (Model.HasViewings)
{
    if (Model.Viewings.Count() == 1)
    {
        <p>There is @Model.Viewings.Count() viewing request for this property:</p>
    }
    else
    {
        <p>There are @Model.Viewings.Count() viewing requests for this property:</p>
    }

    foreach (var viewing in Model.Viewings)
    {
        <hr />
        <div>
            <p><strong>Requested viewing on:</strong> @viewing.RequestedDate.ToShortDateString() at @viewing.RequestedTime.ToShortTimeString()</p>
            <p><strong>Status: </strong> @viewing.Status</p>
        </div>

        if (viewing.IsRequested)
        {
            using (Html.BeginForm("Accept", "Viewings"))
            {
                @Html.Hidden("PropertyId", Model.PropertyId)
                @Html.Hidden("OfferId", viewing.Id)
                <p>
                    <input type="submit" class="btn btn-default" value="Accept appointment" />
                </p>
            }
            using (Html.BeginForm("Reject", "Viewings"))
            {
                @Html.Hidden("PropertyId", Model.PropertyId)
                @Html.Hidden("OfferId", viewing.Id)
                <p>
                    <input type="submit" class="btn btn-default" value="Decline appointment" />
                </p>
            }
        }
    }
}
else
{
    <div class="alert alert-info" role="alert">
        This property has no viewing requests yet!
    </div>
}
